body {
    font-size: 10px;
    width: 100%;
    background-color: white;
}

header {
    width: 100%;
   
}

.logo {
    font-size: 8em;
    margin-top: -0.1em;
    text-align: center;    
}

.tag-to-header {
    text-align: center;
    font-size: 4em;
}

.tag-to-links {
    text-align: center;
    font-size: 3em;
}

.emphasize-word {
    color: red;
}

.flex-layer-superlinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.superlink {
    margin: 0 auto;
    width: 80%;
    height: 10em;
    background-color: lightgrey;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

input {
    border: 0px;
    background-color: lightgrey;
    width: 100%;
}

