body {
    font-family: Helvetica;
    font-size: 10px;
    width: 100%;
    background-color: #feffd1;
}

header {
    width: 100%;
   
}

.logo {
    font-size: 8em;
    margin-top: -0.1em;
    text-align: center;    
}

.tag-to-header {
    text-align: center;
    font-size: 4em;
}

.tag-to-links {
    text-align: center;
    font-size: 3em;
}

.emphasize-word {
    color: red;
}

.flex-layer-superlinks {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.superlink {
    margin: 0 auto;
    width: 80%;
    height: 10em;
    background-color: lightgrey;
    border-radius: 1000em;
    margin-bottom: 1em;
}

input[type="submit"] {
    font-size: 5em;
    color: black;
    opacity: 0.8;
}

input[type="submit"]:hover {
    font-size: 5em;
    /*color: red;
    opacity: 1;
    cursor: pointer;*/
    background-color: black;
    color: white;
    cursor: pointer;
}

form {
    height: 100%;

    /*border: 1px solid black;*/
    border-radius: 1000em;
}

input {
    border: 0px;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    border-radius: 1000em;
}

ul {
    border-radius: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0.1em;
    overflow: hidden;
    background-color: #1d2360;
}

li {
    padding: 0.2em;
    font-size: 2em;
    color: white;
    display: inline;
    background-color: #1d2360;
    justify-content: flex-start;
}

li a {
    border-radius: 10px;
    display: inline;
    color: white;
    text-align: center;
    padding: 0.2em;
    text-decoration: none;
    
    justify-content: flex-start;
}

li:hover {
    background-color: #6c6e87;
}

li a:hover {
    background-color: #6c6e87;
}

.content {
    background-color: #8c8c8c;
    border-radius: 10px;
    overflow: hidden;
}

.content-text-box {
    padding: 0.3em;
    border-radius: 10px;
    background-color: #8c8c8c;
    font-size: 2em;
}

.content-title {
    font-size: 2em;
    padding: 0;
    margin: 0;
}
