<!doctype html>
<html lang ="en">

<head>
<meta charset="UTF-8">
<title>About</title>
</head>

<body>
    
<div class = "under-ticker">
    <div class = "logo">
    </div>
    <header>
        <h1> Tech4Tots About </h1>
    </header>
    <nav class = "nav">
        <ul>
            <li> Home </li>
            <li> Donation </li>
        </ul>
    </nav>
    <div class="content">
        Here at Tech4Tots we care about getting all kids around the world a macbook. Not sponsored.
    </div>
</div>

</body>

</html>
