<!doctype html>
<html lang ="en">

<head>
    <title>Tech4Tots - About</title>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "css/index_style.css">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
</head>

<body>
<div class = "under-ticker">
    <div class = "logo">
    </div>
    <header>
        <h1> Tech4Tots About </h1>
    </header>
    <div class = "content">
    <nav class = "nav">
        <ul>
            <li> </li>
            <li><a href="index.html" style="text-decorations: none;"> Home </a></li>
            <li style="background-color: #37B9B8;"> About </li>
            <li><a href = "pay.html" style = "text-decorations: none;"> Donation </a> </li>
        </ul>
    </nav>
    <div class="content-text-box">
        Our mission is to create a world where every child around the world has access to a laptop. Technology has empowered the disenfranchised around the world.
        We at Tech4Tots have already donated 3 million laptops to children around the world. And we won't stop there.
    </div>
</div>
<footer>
    Tech4Tots (c)
</footer>
</body>

</html>
