<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/pay_style.css">
    <link rel="stylesheet" type="text/css" href="css/index_style.css">

</head>

<body>
    <logo>
        
    </logo>
        <header>
            <div class='logo'>
                <img src="../images/student.svg" class="laptop-boy" alt="">
                    Tech4Tots
            </div>
            <div class="tag-to-header"> Donations </div>
        </header>
    <div class = "under-ticker">
        <div class = "logo">
        </div>
        <header>
        </header>
        <div class = "content">
            <nav class = "nav">
                <ul>
                    <li> </li>
                    <li><a href="index.html" style="text-decorations: none;"> Home </a></li>
                    <li><a href = "about.html" style = "text-decorations: none;"> About </a> </li>
                    <li style="background-color: #37B9B8;"> Donation </li>
                </ul>
            </nav>
            <div style="text-align: center; font-size: 3em; paddin: 1em;"> Please Donate </div>
<div class="flex-container">
   <!--
    <div class="donate-tag">
         Donate  
    </div> --> 
    <div class="donation-form">
		
	    <p>	<label>First Name: </label> <br>
	       <input type="text" name="FirstName"></p>
		
	       <p><label>Last Name: </label> <br>
           <input type="text" name="LastName" style="background-color: white;"> </p>
		
	       <p><label>Amount: </label> <br>
	       <input type="numbers" name="Amount"></p>
	        	
		<a class='submit-button'  href="./index.html"> ✓ </a>
    </div>
    </div>
    <!--
    <div class="donate-tag">
         Donate
    </div> -->
</body>
</html>
