<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="css/pay_style.css">
<title>Donate</title>

</head>

<body>

	<h1> Please Donate </h1>
<div class="flex-container">
   <!-- 
    <div class="donate-tag">
         Donate  
    </div> --> 
    <div class="donation-form">
		
	    <p>	<label>First Name: </label> <br>
	       <input type="text" name="FirstName"></p>
		
	       <p><label>Last Name: </label> <br>
	       <input type="text" name="LastName"> </p>
		
	       <p><label>Amount: </label> <br>
	       <input type="text" name="Amount"></p>
	        	
		<a class='submit-button'  href="./index.html"> ✓ </a>
    </div>
    <!--
    <div class="donate-tag">
         Donate
    </div> -->
</body>
</html>
